.Display {
  width: 100%;
  background-color: #272727;
  color: white;
  font-size: 4.5rem;
  padding: 12px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  height: 21.1%;
}